.box{
    height: 100px;
    margin: 10px; 
    font-size:64px;} 
    
/* .box2{
    background-color: rgb(129, 148, 45);
    height: 100px;
    margin: 10px;
}
.box3{
    background-color: rgb(68, 89, 209);
    height: 100px;
    margin: 10px;
}
.box4{
    background-color: rgb(255, 173, 241);
    height: 100px;
    margin: 10px;
}
.box5{
    background-color: rgb(248, 233, 94);
    height: 100px;
    margin: 10px;
}
.box6{
    background-color: rgb(117, 66, 36);
    height: 100px;
    margin: 10px;
}
.box7{
    background-color: rgb(255, 121, 127);
    height: 100px;
    margin: 10px;
}
.box8{
    background-color: skyblue;
    height: 100px;
    margin: 10px;
} */